@{
  Layout = "_Layout";
}

@using Animal_shelter.Models;

<h1>Animals</h1>

@if (@Model.Count == 0)
{
  <h3>No animals have been added yet!</h3>
}

@foreach (Animal animal in Model)
{
  <li>@animal.Type</li>
  <li>@animal.Name</li>
  <li>@animal.Gender</li>
  <li>@animal.Breed</li>
  <li>@animal.Date</li>
}