@{
  Layout = "_Layout";
}

@using Animal_shelter.Models;
@model List<Animal_shelter.Models.Animal>;

<h1>Animals</h1>

<ul>
  @foreach (Animal animal in Model)
  {
    <li>@Html.ActionLink($"{animal.Type}", "Details", new { id = animal.AnimalId })</li>
    <li>@Html.ActionLink($"{animal.Name}", "Details", new { id = animal.AnimalId })</li>
    <li>@Html.ActionLink($"{animal.Gender}", "Details", new { id = animal.AnimalId })</li>
    <li>@Html.ActionLink($"{animal.Breed}", "Details", new { id = animal.AnimalId })</li>
    <li>@Html.ActionLink($"{animal.Date}", "Details", new { id = animal.AnimalId })</li>
  }
</ul>
<p>@Html.ActionLink("Add new animal", "Create")</p>